/* pink background on entire page  */
body {
    background-color: #E37383;
}

/* styles and positions header section */
header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #f7a583;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    padding: 20px;
    align-items: center;
}

/* makes name bigger */
h1 {
    font-size: 50px;
}


ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    padding: 10px;
}

li {   
    border-style: solid;
    border-color: #f7a583;
    justify-content: space-around;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 25px;

}

main {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.about-me, .work, .contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 25px;
    align-items: center;
    flex-flow: row;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-around;
    margin: 10px;
    flex-basis: 75%;
}

p {
    border-style: double;
    flex-basis: 75%;
    padding: 10px;
    
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 75%;   
}


h2 {
    border-style: double;
    border-color: white;
    padding: 5px;
    
}

.placeholder {
    flex: 0 0 400px;
    flex-grow: 1;
}

.placeholder h3 {
    background-color: white;
    color: #f7a583;
    display: inline;
    position: relative;
    left: 206px;
    bottom: 13px;
}

.horiseon h3 {
    background-color: white;
    color: #f7a583;
    display: inline;
    position: relative;
    left: 268px;
    bottom: 13px;
}


